.text-center-class {
    text-align: center;
}
.margin-bottom-8 {
    margin-bottom: 8rem;
}
.margin-bottom-small {
    margin-bottom: 2rem;
}
.padding-top-9 {
    padding-top: 9rem;
}
.padding-top-1 {
    padding-top: 1rem;
}
.padding-top-2 {
    padding-top: 2rem;
}
.padding-left-2 {
    padding-left: 2rem !important;
}
.padding-right-2 {
    padding-right: 2rem !important;
}
.padding-left-5 {
    padding-left: 5rem !important;
}
.padding-right-5 {
    padding-right: 5rem !important;
}
.padding-top-15 {
    padding-top: 15rem;
}
.img-footer {
    margin-bottom: 2rem; 
    padding-left: 1rem;
}
.margin-left-1 {
    margin-left: 1rem;
}
a {
    color:#777;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $white-color;
    }
}